@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*  Primary */
/* pink */
h5{
    background-color: hsl(322, 100%, 66%);
}
/* ### Neutral */
h5{
    background-color: hsl(193, 100%, 96%);
    background-color: hsl(192, 100%, 9%) ;
    background-color: hsl(208, 11%, 55%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Open Sans' sans-serif;
}
/* ----section-first---- */
.section-first{
    background-image:url(./images/bg-hero-desktop.svg);
    background-color:hsl(193, 100%, 96%);
    /* height:90vh; */
}
img{
    max-width: 100%;
    max-height: 100%;
}
nav{
    padding:30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>img{
    height: 35px;
}
button{
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    padding:15px 60px;
    border: none;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
}
.nav-section{
    display:flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0px 60px; */
}
.nav-first{
    width:40%;
    /* background-color: aquamarine; */
}
.nav-first h1{
    font-size: 42px;
    padding-right: 40px;
    margin:25px 0;
}
.nav-first p{
    padding-right: 40px;
    margin:25px 0;
}
.nav-first button{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    padding: 15px 70px;
}
.nav-second{
    width:45%;
}
/* --------------------------
-----section-second-------
-------------------------- */
.section-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:120px 80px 40px;

}
.card1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 50px 65px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    margin-bottom: 40px;
    border-radius: 10px;
}
.card1 img{
    max-width: 100%;
    width:520px;
    padding:15px 80px 15px 60px;
}
.card-one{
    padding-left: 70px;
}
.card-one h2{
    margin:10px 0;
}
.card-one p{
    width:85%;
}
.card4{
    position:relative;
    max-width: 100%;
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #fff;
    padding: 60px 0px;
 box-shadow: 0 3px 16px rgba(0,0,0,0.12) ;
 border-radius: 10px;
 margin-bottom: -155px;
}
.card4 h1{
    margin-bottom: 15px;
}
.card4 button{
    margin-top: 20px ;
    border-radius: 40px;
    padding:24px 100px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}
.section-third{
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 200px 100px 30px;
    
    margin:40px 0 0 0;
}
.footer1{
    display: flex; 
}
.footer-one{
    min-width: 40%;
    width:40%;
}
.add{
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
.add img{
    margin-top: 4px;
    margin-right: 20px;
}
.footer-two{
   margin:40px;
   padding: 20px;
}
.footer-two p{
    padding: 10px;
}

.footer2 p{
    padding-top: 20px;
    margin-top: 5px;
    float: right;
}
@media  screen and (max-width:903px) {
    nav{
        padding: 30px 10px;
        display: flex;
        
    }
   
    .nav-section{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav-first{
        width:95%;
    }
    .nav-first p,
    .nav-first h1{
        padding:0;
    }
    .nav-second{
        margin-top: 30px;
        width:90%;
    }
    .section-second{
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .card1{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
    }
    .card1 p{
        width:100%;
        padding: 0;
        margin:auto;
    }
    .card-one{
        padding-left: 10px;
        padding-right: 10px;
        width:95%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .card4{
        width:90%;
    }
    .card4 h1{
        font-size: 28px;
    }
    .card4 button{
padding:15px 60px;
font-size: 16px;
    }
    .section-third{
        padding-left: 30px;
        padding-right: 0;
    }
    .footer1{
        display: flex;
        flex-direction: column;
    }
    .footer-one{
        
        width:90%;
    }
    .add{
        padding: 10px;
    }
    .footer-two{
        margin:0px;
        padding: 0px;
        padding-left: 10px;
       
     }
     
     .footer2 p{
        padding-top: 20px;
        padding-right: 90px;
        /* margin-top: 5px; */
    
    }
    .card1:first-child{
        display: flex;
        flex-direction: column-reverse;
    }
    .card1:nth-child(3){
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:600px) {
    .nav{
        padding: 15px 5px;
    }
}

